.place__count-like {
  display: block;
  grid-column: 3/span 1;
  grid-row   : 3/span 1;
  position   : absolute;
  top        : 50px;
  left       : 57px;
  font-family: 'Inter';
  font-style : normal;
  font-weight: 400;
  font-size  : 13px;
  line-height: 16px;
  text-align : center;
  visibility: visible;
  color: #000000;
}
