.places__list {
  width        : 100%;
  display      : grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap          : 20px 17px;
}


@media screen and (max-width: 769px) {
  .places__list {
    max-width    : 620px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 581px) {
  .places__list {
    column-gap   : 0;
  }
}
