.popup__image-name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size  : 12px;
  line-height: 15px;
  color      : #fff;
  align-self : flex-start;
  margin-top : 10px;
}
