.places__list {
  width        : 100%;
  display      : grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  margin       : 0 auto;
  gap          : 20px 17px;
}


@media screen and (max-width: 769px) {
  .places__list {
    max-width    : 580px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

@media screen and (max-width: 581px) {
  .places__list {
    max-width    : 282px;
    grid-template: repeat(6, 361px) / repeat(1, 1fr);
    column-gap   : 0;
  }
}
