.footer {
  max-width: 880px;
  margin   : 0 auto;
}

@media screen and (max-width: 769px) {
  .footer {
    max-width: 580px;
  }
}

@media screen and (max-width: 581px) {
  .footer {
    max-width: 282px;
  }
}
