.button_target_save {
  max-width       : 358px;
  min-height      : 50px;
  font-family     : 'Inter', 'Arial', sans-serif;
  font-size       : 18px;
  line-height     : 21px;
  background-color: #000;
  color           : #fff;
  margin          : 32px 36px 37px;
  transition      : opacity 0.4s ease-in-out;
}

.button_target_save:hover {
  opacity: 0.6;
}

.button_target_save:focus {
  color: red;
}

@media screen and (max-width: 581px) {
  .button_target_save {
    min-width : 238px;
    min-height: 46px;
    margin    : 15px 82px 25px;
  }
}

@media screen and (max-width: 321px) {
  .button_target_save {
    max-width : 358px;
    padding   : 14px 36px 14px;
    min-height: 50px;
    margin    : 15px 22px 25px;
  }
}
