.button_target_like {
  background-image: url('../../../images/button-like.svg');
  background-color: rgba(0, 0, 0, 0);
  min-width       : 22px;
  min-height      : 19px;
  grid-column     : 3 / span 1;
  grid-row        : 3 / span 1;
  justify-self    : center;
  margin-left     : 25px;
  transition      : opacity 0.4s ease-in-out;
}

.button_target_like:hover {
  opacity: 0.6;
}
