.profile__info {
  max-width   : 336px;
  margin-right: 27.73%;
  display     : grid;
  grid-template-areas:
    "username username username button"
    "about about about about";
  align-items: baseline;
  row-gap    : 16px;
}


@media screen and (max-width: 769px) {
  .profile__info {
    max-width    : 300px;
    align-content: center;
  }
}

@media screen and (max-width: 581px) {
  .profile__info {
    max-width     : 282px;
    margin        : 0 auto;
    justify-items : center;
    align-items   : baseline;
    padding-top   : 26px;
    padding-bottom: 35px;
    margin        : 0;
    row-gap       : 14px;
  }
}
