.form__input-avatar {
  display      : block;
  min-height   : 14px;
  margin       : 13px 36px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-shadow   : none;
  transition   : box-shadow .5s ease-in-out;
}

.form__input-avatar:hover {
  -webkit-box-shadow: -0.5px -1.5px 7.5px 1.5px #d6d6ff;
  -moz-box-shadow   : -0.5px -1.5px 7.5px 1.5px #d6d6ff;
  box-shadow        : -0.5px -1.5px 7.5px 1.5px #d6d6ff;
  transition        : box-shadow .5s ease-in-out;
}

.form__input-avatar:focus {
  outline: 1px solid rgba(0, 0, 0, .2);
}

.form__input-avatar::-webkit-input-placeholder {
  font-size     : 14px;
  font-family   : 'Inter', 'Arial', sans-serif;
  line-height   : 1;
  color         : #bcbcc4;
  padding-bottom: 13px;
  opacity       : 1;
  transition    : opacity .5s ease;
}

.form__input-avatar::-moz-placeholder {
  font-size     : 14px;
  font-family   : 'Inter', 'Arial', sans-serif;
  line-height   : 1;
  color         : #bcbcc4;
  padding-bottom: 13px;
  opacity       : 1;
  transition    : opacity .5s ease;
}

.form__input-avatar::-ms-input-placeholder {
  font-size     : 14px;
  font-family   : 'Inter', 'Arial', sans-serif;
  line-height   : 1;
  color         : #bcbcc4;
  padding-bottom: 13px;
  opacity       : 1;
  transition    : opacity .5s ease;
}

.form__input-avatar::placeholder {
  font-size     : 14px;
  font-family   : 'Inter', 'Arial', sans-serif;
  line-height   : 1;
  color         : #bcbcc4;
  padding-bottom: 13px;
  opacity       : 1;
  transition    : opacity .5s ease;
}

.form__input-avatar:focus::-webkit-input-placeholder {
  opacity   : 0;
  transition: opacity .5s ease;
}

.form__input-avatar:focus::-moz-placeholder {
  opacity   : 0;
  transition: opacity .5s ease;
}

.form__input-avatar:focus::-ms-input-placeholder {
  opacity   : 0;
  transition: opacity .5s ease;
}

.form__input-avatar:focus::placeholder {
  opacity   : 0;
  transition: opacity .5s ease;
}

@media screen and (max-width: 581px) {
  .form__input-avatar {
    min-width   : 238px;
    margin-left : 22px;
    margin-right: 22px;
  }
}
