.button {
  margin             : 0;
  padding            : 0;
  border             : none;
  background-repeat  : no-repeat;
  background-position: center;
}

.button:hover {
  cursor : url('../../images/coursor.svg'), pointer;
}

